<%= render :partial => 'admin/projects/project_header', :locals => { project: @project, group: nil } %>
<%= render :partial => 'admin/projects/project_menu', :locals => { project: @project } %>

<div class="clearfix">
	
	<div class="table-responsive col-md-5" style="overflow-x: visible;">
	<h3>工作項目清單</h3>
		<table class="table table-condensed table-border table-hover">
			<tr>
				<th>#</th>
				<th class="text-left">項目名稱</th>
				<th>類型</th>
				<% @groups.each do |group|%>
					<th><%= group.name %></th>
				<% end %>
				<th></th>
			</tr>
			<% @tasks.each do |task| %>
				<tr>
					<td><%= task.num %></td>	
					<td class="text-left"><%= task.name %></td>
					<td><%= task.team_work_show %></td>
						<% @groups.each do |group|%>
							<td class="small text-muted"><%= task.upload_rate(group) %></td>
						<% end %>
					<td>
						<%= link_to '編輯', admin_project_tasks_path(@project, task: task.id) %>｜
						<%= link_to '刪除', admin_project_task_path(@project, task), method: :delete, data: {confirm: "Are you sure?"} %>
					</td>
				</tr>
				
			<% end %>
		</table>
	</div>


	<div class="table-responsive col-md-7" style="overflow-x: visible;">
	<h3>各班工作指派與上傳狀況一覽</h3>
		<table class="table table-condensed table-border table-hover">
			<tr>
				<th>班別</th>
				<th>週次</th>
				<th>#</th>
				<th class="text-left">項目名稱</th>
				<th></th>
				<th>類型</th>	
				<th>deadline</th>
				<th>已交</th>
				<th>未交</th>
				<th>%</th>
			</tr>

			<% @groups.each do |group| %>
				<tr>
					<td rowspan="<%= group.tasks.count %>"><%= group.name %></td>
					<% group.assignments.each do |assign| %>
						<td><%= assign.stage.num %></td>
						<td><%= assign.num %></td>
						<td class="text-left"><%= assign.task.name %></td>
						<td>
							<%= link_to '編輯', admin_project_tasks_path(@project, assign: assign.id) %>｜
							<%= link_to '刪除', admin_project_assignment_path(@project, assign), method: :delete, data: {confirm: "Are you sure?"} %>
						</td>
						<td><%= assign.task.team_work_show %></td>
						<td class="small text-muted"><%= assign.deadline.strftime('%m-%d %H:%M') %></td>
						<td><%= assign.uploads.count %></td>
						<td><%= assign.not_upload_count %></td>
						<td><strong><%= assign.upload_rate %></strong></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
<hr>
<div id="create-task" class="col-xs-5">
	<h4>新增工作項目</h4>	
	<%= form_for [:admin, @project, @task] do |f| %>
		<%= render :partial => '/form_errors', locals: { f: f } %>
		<%= f.hidden_field :project_id, value: @project.id %>
		<div class="form-group">
	  	<%= f.label :num, '編號' %>
	  	<%= f.text_field :num, placeholder: "輸入整數", class: 'form-control', style: "width:90px" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :name, '名稱' %>
	  	<%= f.text_field :name, placeholder:"工作項目名稱", class: 'form-control', style: "width:200px"  %>
	  </div>
	  <div class="form-group">
	  	<%= f.check_box :team_work %>
	  	<%= f.label :team_work, "小組作業" %>
		</div>
	  <%= f.submit class: "btn btn-primary btn-sm"  %>
	<% end %>	
</div>

<div id="assign-task" class="col-xs-7">
	<h4>指派工作項目</h4>
	<%= form_for [:admin, @project, @assignment] do |f| %>
		<%= render :partial => '/form_errors', locals: { f: f } %>
		<div class="form-group col-xs-4">
	    <%= f.collection_select :stage_id, @stages, :id, :num, {:include_blank => "週次"}, class: "form-control"  %>
	  </div>
		<div class="form-group col-xs-8">
	    <%= f.collection_select :group_id, @groups, :id, :name, {:include_blank => "班別"}, class: "form-control" %>
	  </div>
	  <div class="form-group col-xs-12">
	    <%= f.collection_select :task_id, @tasks, :id, :name, {:include_blank => "工作項目"}, class: "form-control" %>
    </div>
    <hr>
    <div class="col-xs-12">
	  <div class="form-group">
	  	<%= f.label :num, '編號' %>
	  	<%= f.text_field :num, placeholder: "輸入整數", class: 'form-control', style: "width:90px" %>
	  </div>
	  <div class="form-group">
			<%= f.label :assigned_at, "設定學員可瀏覽作業的時間"%>
			<%= f.datetime_local_field :assigned_at, discard_seconds: true,  class: "form-control", style: "width:220px" %>
		</div>
		<div class="form-group">
			<%= f.label :deadline, "設定繳交時間"%>
			<%= f.datetime_local_field :deadline, with_seconds: false,  class: "form-control", style: "width:220px" %>
		</div>
	  <%= f.submit class: "btn btn-primary btn-sm"  %>
	  <%= link_to "取消", admin_project_tasks_path(@project), class:"btn btn-default btn-sm" %>
	  </div>
	<% end %>
</div>
<br><br><br>	

