<%= render :partial => 'admin/projects/project_header', :locals => { project: @project, group: nil } %>
<%= render :partial => 'admin/projects/project_menu', :locals => { project: @project } %>

<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>週</th>
			<% @groups.each do |group| %>
				<th><%= group.name %></th>
			<% end %>
			<th>操作</th>
		</tr>

		<% @stages.each do |stage| %>
			<tr>
				<td><%= stage.num %></td>
				<% @groups.each do |group| %>
					<td>
						<% if stage.groups.include?(group) %>
							<%= link_to stage.lesson(group).name, admin_project_stages_path(@project, lesson: stage.lesson(group).id) %>
						<% end %>
					</td>
				<% end %>
				<td>
					<%= link_to '編輯', admin_project_stages_path(@project, stage: stage) %>｜
					<%= link_to '刪除', admin_project_stage_path(@project, stage), method: :delete, data:{confirm: '刪除工作階段會連帶刪除一整週的課程哦！'} %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<div class="col-xs-4">
	<% if params[:stage].present? %>
		<h4>編輯工作階段</h4>
	<% else %>
		<h4>發佈工作階段</h4>
	<% end %>
	<hr>
	<%= form_for [:admin, @project, @stage] do |f|%>
		<%= render :partial => '/form_errors', locals: { f: f } %>
		<div class="form-group">
	  	<%= f.text_field :num, placeholder: "週次", class: 'form-control', style: "width:70px" %>
	  </div>
	  <%= f.submit class: "btn btn-primary btn-sm" %>
	<% end %>
</div>

<div id="set_stage_executions" class="col-xs-8">
	<% if params[:lesson].present? %> 
		<h4>編輯課程名稱</h4>
	<% else %>
		<h4>發佈每週課程<span class="muted-text small text-right">（欲編輯既有課程，請於清單中點選）</span></h4>
	<% end %>
	<hr>
<%= button_to "刪除", admin_project_lesson_path(@project, @lesson), method: :delete, class: "btn btn-danger btn-sm pull-right" if @lesson.id %>
	<%= form_for [:admin, @project, @lesson] do |f| %>
		<%= render :partial => '/form_errors', locals: { f: f } %>
	  <div class="form-group">
	 		<%= label :group_id, "班別" %>
	    <%= f.collection_select :group_id, @groups, :id, :name, class: "form-control", :prompt => "請選擇" %>
	    <%= label :stage_id, "週次" %>
	    <%= f.collection_select :stage_id, @stages, :id, :num, :prompt => "請選擇", :class =>"form-control" %>
	  </div>
	  <div class="form-group">
			<%= f.label :name, "名稱" %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :published_at, "設定開放學員瀏覽的時間", class: "control-label" %>
			<%= f.datetime_local_field :published_at, class: "form-control",style: "width:220px" %>
		</div>
	<%= f.submit class: "btn btn-primary btn-sm" %>
	<%= link_to "取消", admin_project_stages_path(@project), class: "btn btn-default btn-sm" %>
	<% end %>
	
	<br>
	<br>
</div>