<blockquote>
	<h4><%= @project.name %>(<%= @stage.group.name %>)</h4>
	<h2>第<%= @stage.num %>週：<%= @stage.name %></h2>	
	<small><%= simple_format(@stage.info) %></small>
</blockquote>

<p class="text-right">發佈時間｜<%= @stage.published_at.strftime('%Y-%m-%d %H:%M') %>
	
</p>

<%= link_to "返回專案", admin_project_path(@project), class:"btn btn-info btn-xs active pull-right" %>
<br><br>
<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>#</th>
			<th>工作項目</th>
			<th>型態</th>
			<th>發佈時間</th>
			<th>繳交時間</th>
			<th>預設檔名</th>
			<th>已交</th>
			<th>未交</th>
			<th>操作</th>
		</tr>

			<% @tasks.each do |task| %>
				<tr>
					<td><%= task.num %></td>
					<td><%= task.name %></td>
					<td>
						<% if task.team_work? %>
							小組
						<% else %>
							個人
						<% end %>
					</td>
					<td class="text-muted small"><%= task.published_at.strftime('%m/%d %H:%M') %></td>
					<td class="text-muted small"><%= task.deadline.strftime('%m/%d %H:%M') %></td>
					<td>xxx</td>
					<td></td>
					<td></td>
					<td><%= link_to '編輯', admin_project_stage_path(@project, @stage, task: task.id) %>｜
						<%= link_to '刪除', admin_project_task_path(@project, task, stage_id: @stage.id), method: :delete, data:{confirm: 'Are you sure?'} %></td>
				</tr>
			<% end %>

	</table>
</div>

<div>
	<h3>指派工作項目</h3>	
	<%= form_for [:admin, @project, @task], html: {class: "form-inline"} do |f| %>
		<%= render :partial => '/form_errors', locals: { f: f } %>
	  <%= f.hidden_field :stage_id, value: @stage.id %>
		<div class="form-group">
	  	<%= f.label :num, '編號' %>
	  	<%= f.text_field :num, placeholder: "輸入整數", class: 'form-control', style: "width:90px" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :name, '名稱' %>
	  	<%= f.text_field :name, placeholder:"工作項目名稱", class: 'form-control', style: "width:150px"  %>
	  </div>
	  <div class="form-group ">
	  	<%= f.check_box :team_work?, {},checked_value = "1", unchecked_value = "0" %>
	  	<%= f.label :team_work?, "小組作業" %>
		</div>
	  <p></p>
		<div class="form-group">
	  	<%= f.label :published_at, "發佈時間" %>
			<%= f.datetime_local_field :published_at, class: "form-control",style: "width:220px" %>
		</div>
		<div class="form-group">
	  	<%= f.label :deadline, "繳交時間" %>
			<%= f.datetime_local_field :deadline, class: "form-control",style: "width:220px"  %>
		</div>
		

	  <%= f.submit class: "btn btn-primary btn-sm"  %>

	<% end %>	
</div>
