<p class="pull-right">註冊日期：<%= current_user.created_at.strftime('%Y/%m/%d') %></p>


<div class="clearfix">
	
	<div>
		<h1><%= current_user.name %></h1>
		<p><%= mail_to current_user.email %></p>	
		<p>

	  	<%= button_to '修改個人資料', edit_user_path(current_user), :method => :get %>
		</p>	
	</div>
</div>

<!-- 列出 user 參與的所有專案 -->
<h2>我的專案</h2>

<table class="table table-condensed">
	<tr>
		<th>#</th>
		<th>學期</th>
		<th>專案名稱</th>
		<th>班級</th>
		<th>組別</th>
		<th>狀態</th>
		<th></th>
	</tr>

	<% current_user.teams.each do |team| %>
	<tr>
		<td><%= team.id %></td>
		<td><%= team.classroom.semester %></td>
		<td><%= team.project.name %></td>
		<td><%= team.classroom.name %></td>
		<td>第<%= team.num %>組</td>
		<td>執行中</td>
		<td><%= link_to "edit", profile_user_path(:team_id => team.id) %></td>	
	</tr>	
	<% end %>
</table>


<% if @team.id %>
  <h3><%= "更新專案參與記錄" %></h3>  
<% else %>
  <h3><%= "新建專案參與紀錄" %></h3>
<% end %>

<%= form_for [current_user, @team], :class => "form-inline" do |f| %>	
	<!-- 表單內容 -->
 	<div class="form-group">
		<%= f.label :project, "專案" %>
		<%= f.collection_select( :project_id, Project.all, :id, :name, :prompt => "請選擇") %>
	
		<%= f.label :classroom, "班級" %>
		<%= f.collection_select( :classroom_id, Classroom.all, :id, :name, :prompt => "請選擇") %>

		<%= f.label :num, "組別" %>		
		<%= f.number_field :num, :style => "width:50px" %>
		<small>(請輸入數字)</small> 
		</div>
		<%= f.submit 'Submit', class: "btn btn-primary btn-xs"  %>
	</div>
	<!-- 錯誤訊息 -->
	<% if @team.errors.any? %>      
		<% @team.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger" role="alert"><%= msg %></div>
		<% end %>
	<% end %>
<% end %>

