<blockquote>
	<h2>
		<%= project.name %>
		<% if group %>
			<small>(<%= group.name %>)</small>
		<% end %>
	</h2>

	<%= simple_format(project.info) %>	
</blockquote>
<p class="pull-right">
	<%= project.category.name %>｜
	<%= project.status.name %>｜
	<%= link_to "專案首頁", admin_projects_path %>
</p>



