<!-- 錯誤訊息 -->
	<% if @project.errors.any? %>      
		<% @project.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger" role="alert"><%= msg %></div>
		<% end %>
	<% end %>

	<!-- 表單內容 -->

	<div class="form-group">
		<%= f.label :name, "名稱" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :group, "班級" %>
		<%= f.collection_check_boxes( :group_ids, Group.all, :id, :name) %>
	</div>
	</div>
	<div class="form-group">
		<%= f.label :category, "類別" %>
		<%= f.collection_radio_buttons( :category_id, ProjCategory.all, :id, :name, class: "form-control") %>
	</div>
	<div class="form-group" >
  <%= f.label :status_id, "執行狀態" %>
  <%= f.collection_select :status_id, ProjStatus.all, :id, :name, :class =>"form-control", :prompt => "請選擇" %>
</div>
	<div class="form-group">
		<%= f.label :info, "內容" %>
		<%= f.text_area :info, class: "form-control" %>
	</div>
	
	<%= f.submit class: "btn btn-primary btn-sm"  %>
