<blockquote>
	<h2>
		<%= project.name %>
		<% if group %>
			<small>(<%= group.name %>)</small>
		<% end %>
	</h2>

	<%= simple_format(project.info) %>	
</blockquote>
<p class="pull-right">
	<%= project.category.name %>｜
	<%= project.status.name %>｜
	<%= link_to "編輯詳情", edit_admin_project_path(@project) %>
</p>

<!-- 專案下班級列表 -->
<ul class="list-inline">
	<% if params[:group] %>
		<%= link_to controller: controller_name, action: action_name do %>
			<li class="btn btn-default btn-xs active">全體</li>
		<% end %>
	<% else %>
		<%= link_to controller: controller_name, action: action_name do %>
			<li class="btn btn-info btn-xs active">全體</li>
		<% end %>
	<% end %>
	
	<% @project.groups.each do |group| %>
		<%= link_to controller: controller_name, action: action_name, group: group do %>
			<% if group == @group %>
				<li id=<%= group.id %> class="btn btn-info btn-xs active">
			<% else %>
				<li id=<%= group.id %> class="btn btn-default btn-xs active">
			<% end %>
					<%= group.name %></li>
		<% end %>
	<% end %>
</ul>
<div>

