<h1>JEV</h1>

<%= link_to '創建專案', new_admin_project_path, class:"btn btn-info btn-xs active pull-right" %>
<br><br>

<table class="table table-condensed table-bordered">
	<tr>
		<th>#</th>
		<th>執行狀態</th>
		<th>專案名稱</th>
		<th>專案類別</th>
		<th>團隊數</th>	
		<th>學員數</th>
		<th>執行班級<small>(在線)</small></th>
	</tr>
	<% @projects.each do |project| %>
	<tr>
			<td><%= project.id %></td>
			<td><%= project.status.name %></td>	
			<td><%= link_to project.name, controller: controller_name, action: :show, id: project.id %></td>
			<td><%= project.category.name %></td>
			<td><%= link_to project.teams.count %></td>	
			<td><%= link_to project.participations.active_in.count, controller: controller_name, action: :participants, project_id: project.id%></td>
			<td>
				<% project.groups.each do |group| %>
					<%= group.name %>
					<small>(<%= project.participations.where(group: group, status_id: 1).count%>)</small><br>
				<% end %>
			</td>
	</tr>	
	<% end %>
</table>