<h1>JEV</h1>


<br><br>

<table class="table table-condensed table-bordered">
	<tr>
		<th>執行狀態</th>
		<th>專案名稱</th>
		<th>專案類別</th>
		<th>團隊數</th>	
		<th>學員數</th>
		<th>執行班級<small>(在線)</small></th>
		<th>現場點名</th>
		<th></th>	
	</tr>
	<% @projects.each do |project| %>
	<tr>
			<td><%= project.status.name %></td>	
			<td><%= link_to project.name, admin_project_stages_path(project.id) %></td>
			<td><%= project.category.name %></td>
			<td><%= link_to project.teams.count %></td>	
			<td><%= link_to project.participations.active_in.count, controller: controller_name, action: :participants, project_id: project.id%></td>
			<td>
				<% project.groups.each do |group| %>
					<%= group.name %>
					<small>(<%= project.participations.where(group: group, status_id: 1).count%>)</small><br>
				<% end %>
			</td>
			<td><%= link_to '開始點名', new_admin_project_attendance_path(project) %></td>	
			<td><%= link_to "編輯", edit_admin_project_path(project) %></td>
	</tr>	
	<% end %>
</table>
<center>
	<%= link_to '創建專案', new_admin_project_path, class:"btn btn-info active" %>
</center>
<br><br>