<%= render :partial => 'project_header', :locals => { project: @project, group: nil} %>

<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>#</th>
			<th>姓名</th>
			<th>班別</th>
			<th>組別</th>
			<th>狀態</th>
			<th>出席數</th>
			<th>上傳成果數</th>
			<th>專案表現</th>
		</tr>

		<% @participants.each do |participant| %>
		<tr>
			<td><%= participant.user_id %></td>
			<td><%= participant.user.name %></td>
			<td><%= participant.group.name %></td>
			<td>
				<% if participant.user.teams.exists? %>
					<%= participant.user.teams.where(project: @project).first.num%>
				<% else %>
					-
				<% end %>
			</td>
			<td><%= participant.status.name %></td>
			<td>-</td>
			<td>-</td>
			<td><%= "查看詳情" %></td>
		</tr>
		
	<% end %>
	</table>
</div>
