<%= render :partial => 'project_header', :locals => { project: @project, group: nil} %>



<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>#</th>
			<th>姓名</th>
			<th>班別</th>
			<th>組別</th>
			<th>狀態</th>
			<th>出席數</th>
			<th>個人上傳數</th>
			<th>團隊上傳數</th>
			<th>專案上傳數</th>
			<th></th>
		</tr>

		<% @participants.each do |participant| %>
			<% user = participant.user %>
			<% @group = participant.group %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= @group.name %></td>
			<td><%= user.active_team_num(@project) %></td>
			<td><%= participant.status.name %></td>
			<td><%= user.attendances.where(project_id: @project, attend:true).count %></td>
			<td><%= user.personal_uploads_count(@project, @group) %></td>
			<td><%= user.team_uploads_count(@project, @group) %></td>
			<td><%= user.project_uploads_count(@project, @group) %></td>
			<td><%= link_to "退出專案",  %></td>
		</tr>
		
	<% end %>
	</table>
</div>
