<%= render :partial => 'project_header', :locals => { project: @project, group: nil } %>
<%= render :partial => 'admin/projects/project_menu', :locals => { project: @project } %>

<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>週</th>
			<% @groups.each do |group| %>
				<th><%= group.name %></th>
			<% end %>
			<th>操作</th>
		</tr>

		<% @stages.each do |stage| %>
			<tr>
				<td><%= stage.num %></td>
				<% @groups.each do |group| %>
					<td>
						<% if stage.groups.include?(group) %>
							<%= link_to stage.lesson(group).name, admin_project_path(@project, lesson: stage.lesson(group).id) %>
						<% end %>
					</td>
				<% end %>
				<td>編輯｜<%= link_to '刪除', admin_project_stage_path(@project, stage), method: :delete, data:{confirm: '刪除工作階段會連帶刪除一整週的課程哦！'} %></td>
			</tr>
		<% end %>
	</table>
</div>
<div class="col-xs-3">
	<%= button_to '發佈工作階段', admin_project_stages_path(@project, @stage), class:"btn btn-info active btn-sm pull-left" %>	
</div>

<div id="set_stage_executions" class="col-xs-9">
	<% if params[:lesson].present? %> 
		<h4>編輯課程名稱</h4>
	<% else %>
		<h4>發佈每週課程</h4>
	<% end %>
	<hr>
	<%= form_for [:admin, @project, @lesson] do |f| %>
		<%= render :partial => '/form_errors', locals: { f: f } %>
	  <div class="form-group">
	    <%= label :stage_id, "週次" %>
	    <%= f.collection_select :stage_id, @stages, :id, :num, :prompt => "請選擇", :class =>"form-control" %>
	    <%= label :group_id, "班別" %>
	    <%= f.collection_select :group_id, @groups, :id, :name, class: "form-control", :prompt => "請選擇" %>
	  </div>
	  <div class="form-group">
			<%= f.label :name, "名稱" %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :published_at, "發佈時間", class: "control-label" %>
			<%= f.datetime_local_field :published_at, class: "form-control",style: "width:220px" %>
		</div>
	<%= f.submit class: "btn btn-primary btn-sm"  %>
	<% end %>
</div>