
<blockquote>
	<h2><%= @project.name %></h2>

	<%= simple_format(@project.info) %>	
</blockquote>



<p class="pull-right">
	<%= @project.category.name %>｜
	<%= @project.status.name %>｜
	<%= link_to "編輯詳情", edit_admin_project_path(@project) %>
</p>


<ul class="list-inline">
	<% @project.groups.each do |group| %>
		<li class="btn btn-default btn-xs active"><%= group.name %></li>
	<% end %>		
</ul>
<table class="table">
	<tr>
		<th>#</th>
		<th>姓名</th>
		<th>班別</th>
		<th>組別</th>
		<th>操作</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%=  %></td>
		<td>
			<% if user.teams.find_by_project_id(@project) %>
				<%= user.teams.find_by_project_id(@project).num %>
			<% else %>
				未分組
			<% end %>
		</td>
		<td>查看詳情  移出專案</td>
	</tr>
	
<% end %>
</table>

<%= button_to "刪除專案", admin_project_path(@project), :method => :delete, data: {confirm: "Are you sure?" },class: "pull-right" %>