<blockquote>
	<h4><%= @project.name %>(<%= @group.name %>)</h4>
	<h2>第<%= @stage.num %>週：<%= @lesson.name %></h2>	
</blockquote>

<p class="text-right">發佈時間｜<%= @lesson.published_at.strftime('%Y-%m-%d %H:%M') %>
</p>
<div class="pull-left bg-warning">您參加的是<strong><%= @group.name %> 第<%= @team.num %>組</strong></div>
<%= link_to "返回專案", project_path(@project), class:"btn btn-info btn-xs active pull-right" %>
<br><br>


<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>#</th>
			<th>工作項目</th>
			<th>型態</th>
			<th>繳交期限</th>
			<th class="text-left">檔案連結</th>
			<th>首次上傳時間</th>
			<th>最後上傳者</th>
			<th>狀態</th>
			<th>操作</th>	
		</tr>

		<% @assignments.each do |assign| %>
			<tr>
				<td><%= assign.num %></td>
				<td><%= assign.task.name %></td>
				<td>
					<% if assign.task.team_work? %>
						小組
					<% else %>
						個人
					<% end %>
				</td>
				<td class="text-muted small"><%= assign.deadline.strftime('%m/%d %H:%M') %></td>
				<% if current_user.uploads.where(task: assign.task).any? %>
					<% upload = current_user.uploads.where(task: assign.task).first %>
					<td class="text-left"><%= link_to upload.document_file_name, upload.document.url %></td>
					<td class="text-muted small"><%= upload.created_at.strftime('%m-%d %H:%M') %></td>	
					<td><%= upload.user.name %></td>
					<td>
						<% if upload.on_time? %>
							準時
						<% else %>
							遲交
						<% end %>
					</td>
				<% else %>
					<td colspan="4" class="text-muted small text-left">尚未上傳</td>
						
				<% end %>
				<td>
					<%= link_to '上傳', project_lesson_path(@project, @lesson, assign: assign.id) %></td>
			</tr>
		<% end %>
	</table>
</div>
<hr>	
<h4>成果上傳區</h4>
<hr>
<% if params[:assign].present? %>
	<%= form_for [@project, @upload] do |f| %>
		<div class="form-group">
			<%= f.hidden_field :group_id, value: @group.id %>
			<%= f.hidden_field :stage_id, value: @stage.id %>
			<%= f.hidden_field :team_id, value: @team.id %>
			<%= f.hidden_field :lesson_id, value: @lesson.id %>
			<%= f.hidden_field :task_id, value: @task.id %>
			<%= f.hidden_field :assignment_id, value: @assign.id %>
	    <%= f.label :task_id, "工作項目："+@task.name %>
	    <% if @upload.id.present? %>
		    <p class="text-muted small">已由 <%= @upload.user.name %> 於 <%= @upload.updated_at.strftime('%m-%d %H:%M') %> 上傳該檔案<br>您即將上傳的檔案將會覆蓋舊檔案，請確認同組成員瞭解您的更新動作</p>
	    <% else %>
	    	<p class="text-muted small">第一次上傳</p>
	    <% end %>
	  </div>
	  <div class="form-group">
			<%= f.file_field :document %>
	  </div>
	  <%= f.submit class: "btn btn-primary" %>
	<% end %>
<% else %>
<ul>
	<li>請自上表選擇欲上傳的工作項目</li>
	<li>若重覆上傳，新檔案將覆蓋舊檔案</li>
	<li>「準時/遲交」判斷以第一次上傳為主</li>
	<li>為避免影響到您的成績，若補交時隔太久，請另行告知工作團隊</li>
</ul>
	
<% end %>
