

<h1><%= @stage.name %></h1>

<div>
	<%= simple_format(@stage.info) %>	
</div>
<hr>
<table class="table table-condensed">
	<tr>
		<th>#</th>
		<th>標題</th>
		<th>類型</th>
		<th>上傳檔案</th>

	</tr>	
	<!-- 當週作業列表 -->
	<% @stage.tasks.each do |task| %>
	<tr>
		<td><%= task.id %></td>
		<td><%= task.name %></td>
		<td>
			<% if task.team_work? %>
				小組
			<% else%>
				個人
			<% end %>
		</td>
		<td>
			<%= form_for [@project, @upload], html: { multipart: true } do |f| %>
			
        <%= f.file_field :document %>
        <p class="help-block">XXX在XXX上傳該檔案</p>
        
        <%= f.submit class: "btn btn-xs pull-right" %>
      <% end %>
			

		</td>
	</tr>	
	<% end %>		
</table>

<h4>上傳區</h4>


