<h1>場域概況</h1>

<div class="table-responsive col-xs-6">
	<table class="table table-condensed table-bordered">
		<% @groups.each do |group| %>
		<tr>
			<td><%= link_to group.name %></td>
			<td colspan="5">
				<table class="table table-condensed ">
					<tr>
						<th>專案名</th>
						<th>總數</th>
						<th>在線</th>
						<th>結業</th>
						<th>退出</th>
					</tr>
					<% group.projects.each do |project| %>
						<tr>
							<td><%= link_to project.name %></td>
							<td><%= group.participations.where(project: project).count %></td>
							<td><%= group.participations.active_count(project)%></td>
							<td><%= group.participations.accomplish_count(project)%></td>
							<td><%= group.participations.quit_count(project)%></td>
						</tr>					
					
					<% end %>
				</table>
			</td>
		</tr>
		<% end %>
	</table>
</div>

<div class="table-responsive col-xs-6">
	<table class="table table-condensed table-bordered">
		<% @projects.each do |project| %>
		<tr>
			<td><%= link_to project.name %></td>
			<td colspan="5">
				<table class="table table-condensed ">
					<tr>
						<th>班</th>
						<th>總數</th>
						<th>在線</th>
						<th>結業</th>
						<th>退出</th>
					</tr>
					<% project.groups.each do |group| %>
						<tr>
							<td><%= link_to group.name %></td>
							<td><%= group.participations.where(project: project).count %></td>
							<td><%= group.participations.active_count(project)%></td>
							<td><%= group.participations.accomplish_count(project)%></td>
							<td><%= group.participations.quit_count(project)%></td>
						</tr>					
					
					<% end %>
				</table>
			</td>
		</tr>
		<% end %>
	</table>
</div>

<% if @group.id %>
  <h3><%= "編輯班級名稱" %></h3>  
<% else %>
  <h3><%= "創建班級" %></h3>
<% end %>
<%= form_for [:admin, @group] do |f| %>
  <!-- 錯誤訊息 -->
	<% if @group.errors.any? %>      
		<% @group.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger" role="alert"><%= msg %></div>
		<% end %>
	<% end %>

<div class="form-group">
	<ul class="list-inline">
		<li><%= f.text_field :name, placeholder:"名稱", class: 'form-control ' %></li>

		<%= f.submit class: "btn btn-primary btn-sm"  %>
	</ul>
<% end %>

				