<%= render :partial => 'stage_header', :locals => { project: @project, stage: @stage, group: @group } %>


<p class="text-right">發佈時間｜<%= @stage.published_at.strftime('%Y-%m-%d %H:%M') %>
</p>
<div class="pull-left">
	您參加的是<%= @group.name %> 第<%= @team.num %>組！
</div>
<%= link_to "返回專案", admin_project_path(@project), class:"btn btn-info btn-xs active pull-right" %>
<br><br>


<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover">
		<tr>
			<th>#</th>
			<th>工作項目</th>
			<th>型態</th>
			<th>繳交時間</th>
			<th>狀態</th>
			<th>檔案連結</th>
			<th>最後上傳者</th>
			<th>最後上傳時間</th>
			<th>操作</th>	
		</tr>

		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.num %></td>
				<td><%= task.name %></td>
				<td>
					<% if task.team_work? %>
						小組
					<% else %>
						個人
					<% end %>
				</td>
				<td class="text-muted small"><%= task.deadline.strftime('%m/%d %H:%M') %></td>
				<td>未交/遲交/準時</td>
				<% if current_user.uploads.where(task: task).any? %>
					<% upload = current_user.uploads.where(task: task).last %>
					<td><%= link_to upload.document_file_name, upload.document.url %></td>
					<td><%= upload.user.name %></td>
					<td><%= upload.updated_at.strftime('%m-%d %H:%M') %></td>	
				<% else %>
					<td colspan="3" class="text-muted small">尚未上傳</td>
						
				<% end %>
				<td>重傳｜刪除</td>
			</tr>
		<% end %>
	</table>
</div>
<h4>成果上傳區</h4>
<%= form_for [@project, @upload] do |f| %>
	<div class="field">
    <%= f.label :task_id, "工作項目" %>
    <%= f.collection_select :task_id, @stage.tasks.order(:num), :id, :name,  :prompt => "請選擇"  %>
  </div>
	<%= f.file_field :document %>
  <%= f.submit class: "btn btn-xs" %>
<% end %>

<br>
<br>