<h1>全站會員</h1>

<%= form_tag bulk_update_admin_users_path do %>
	<%= render :partial => 'bulk_update' %>
<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<tr>
			<th></th>
			<th>#</th>
			<th>姓名</th>
			<th>起始專案</th>
			<th>登錄專案數</th>
			<th>累計出席數</th>
			<th>累計成果數</th>
			<th>參加中專案</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= check_box_tag "ids[]", user.id, false %></td>
			<td><%= user.id %></td>
			<td><%= link_to user.name, admin_user_path(user) %></td>

			<% if user.projects.any? %>
				<td>
					<% @project = user.projects.order(:created_at).first %>
					<%= @project.name %><small>｜<%= user.participations.where(project: @project).first.group.name %></small>
				</td>
				<td align="center"><%= user.projects.count %>
					<!-- 要在participation 加上狀態 做篩選 -->
				</td>
				<td align="center">
					0<!-- 出席紀錄 -->
				</td>
				<td align="center">0</td>
				<td>
					<% user.participations.active_in.each do |parti| %>
						<%= parti.project.name %><small>｜<%= parti.group.name %></small><br>
					<% end %>		
				</td>
			<% else %>
				<td colspan="5"><small class="text-muted" >尚未參加任何專案</small></td>
			<% end %>
		</tr>	
		<% end %>
	</table>
</div>
<% end %>