<h1>全站會員</h1>

<%= form_tag bulk_update_admin_users_path do %>
<div>
	<%= render :partial => 'bulk_update' %>
</div>
	
<div class="table-responsive" style="overflow-x: visible;">
	<table class="table table-condensed table-hover table-bordered" >
		<tr>
			<th></th>
			<th align="center">#</th>
			<th>姓名</th>
			<th>起始</th>
			<th>共登錄</th>
			<th>已結業</th>
			<th>參加中</th>
			<th>已退出</th>
			<th>累計出席數</th>
			<th>累計成果數</th>
			<th>參加中專案</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= check_box_tag "ids[]", user.id, false %></td>
			<td align="center"><%= user.id %></td>
			<td><%= link_to user.name, admin_user_path(user) %></td>

			<% if user.projects.any? %>
				<td>
					<% @project = user.projects.order(:created_at).first %>
					<%= @project.name %>
				</td>
				<td><%= user.projects.count %></td>
				<td align="center"><%= user.participations.accomplish.count %></td>
				<td align="center"><%= user.participations.active_in.count %></td>
				<td align="center"><%= user.participations.has_quit.count %></td>
				<td align="center">
					0<!-- 出席紀錄 -->
				</td>
				<td align="center">0</td>
				<td>
					<% user.participations.active_in.each do |parti| %>
						<%= parti.project.name %><small>｜<%= parti.group.name %></small><br>
					<% end %>		
				</td>
			<% else %>
				<td colspan="8"><small class="text-muted" >尚未參加任何專案</small></td>
			<% end %>
		</tr>	
		<% end %>
	</table>
</div>
<% end %>