<h2>創建學員帳號</h2>

<%= form_for @user, url: admin_users_path do |f| %>
	<!-- 錯誤訊息 -->
	<% if @user.errors.any? %>      
		<% @user.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger" role="alert"><%= msg %></div>
		<% end %>
	<% end %>

	
<div class="form-group">
	<ul class="list-inline">
		<li><%= f.text_field :name, placeholder:"姓名", class: 'form-control ' %></li>
		<li><%= f.email_field :email, placeholder:"email",class: 'form-control' %></li>
		<li>

		<%= f.submit class: "btn btn-primary btn-sm"  %>
	</ul>
<% end %>
<p class="help-block">* 預設密碼為email（若email登記錯誤，則該帳號無效，請手動刪除）</p>
</div>

<div style="background-color: #eee">
<h3>Import a CSV File</h3>
<%= form_tag import_admin_users_path, multipart: true do %>

	  <div class="field">
	    <%= label :project_id, "專案" %>
	    <%= collection_select :participation, :project_id, Project.where(status:[1,2]), :id, :name,  :prompt => "請選擇"  %>
	  </div>
	  <div class="field">
	    <%= label :group_id, "班別" %>
	    <%= grouped_collection_select :participation, :group_id, Project.all, :groups, :name, :id, :name, :prompt => "請選擇" %>
	  </div>
  
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>


<hr>
<h4>編輯由您創建的帳號（一個月內）</h4>
<% if @users %>	
	<%= form_tag bulk_update_admin_users_path do %>
	<%= render :partial => 'bulk_update' %>

		<table class="table">
			<tr>
				<th></th>
				<th>#</th>
				<th>姓名</th>
				<th>email</th>
				<th>創建者</th>
				<th>創建時間</th>
				<th>第一次自主登入</th>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td><%= check_box_tag "ids[]", user.id, false %></td>
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= User.find_by_id(user.created_by).name %></td>
				<td><%= user.created_at.strftime('%Y-%m-%d') %></td>
				<td>
					<% if user.first_login_on %>
						<%= user.first_login_on.strftime('%Y-%m-%d') %>
					<% else %>
						never
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		
	<% end %>
<% else %>
	您未曾創建任何帳號
<% end %>

