<!-- 手動新增帳號 -->
<h4 class="col-xs-3">手動新增</h4>
<div class="col-xs-9 clearfix">
	<%= form_for @user, url: admin_users_path do |f| %>
		<!-- 錯誤訊息 -->
		<% if @user.errors.any? %>      
			<% @user.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger" role="alert"><%= msg %></div>
			<% end %>
		<% end %>
		<div class="form-group">
			<ul class="list-inline">
				<li><%= f.text_field :name, placeholder:"姓名", class: 'form-control ' %></li>
				<li><%= f.email_field :email, placeholder:"email",class: 'form-control' %></li>
				<li>
				<%= f.submit class: "btn btn-primary btn-sm"  %>
			</ul>
			<p class="help-block">* 預設密碼為email（若email登記錯誤，則該帳號無效，請手動刪除）</p>
		</div>
	<% end %>
</div>
<hr>
